<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Template EJS</title>
</head>
<body>
    <h3>Biodata : </h3>
    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td><%= nama %> <br></td>
        </tr>
        <tr>
            <td>Semester</td>
            <td>:</td>
            <td><%= semester %> <br></td>
        </tr>
        <tr>
            <td>Universitas</td>
            <td>:</td>
            <td><%= universitas %> <br></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td><%= alamat %> <br></td>
        </tr>
    </table>
</body>
</html>